.navigation {
  display: flex;
  align-items: center;
  gap: 50px;
}

.navigation_unauthorized {
  gap: 30px;
}

.navigation__menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 21px;
}

.navigation__text {
  font-size: 14px;
  font-weight: var(--regular);
  line-height: 18px;
}

.navigation__link {
  color: var(--text-main);
  text-decoration: none;
  cursor: pointer;
  transition: opacity .2s ease-out;
}

.navigation__link_active {
  font-weight: var(--medium);
}

.navigation__profile {
  padding-bottom: 3px;
  display: flex;
  align-items: center;
  gap: 14px;
  font-size: 14px;
  font-weight: var(--medium);
  line-height: 16px;
  color: var(--text-main);
  text-decoration: none;
  cursor: pointer;
  transition: opacity .2s ease-out;
}

.navigation__profile::after {
  content: '';
  width: 30px;
  height: 30px;
  border-radius: 6px;
  background: url('../../images/account-main.svg') var(--btn-movies) no-repeat center;
}

.navigation__profile_type_promo::after {
  background: url('../../images/account-landing.svg') var(--btn-main) no-repeat center;
}

.navigation__auth-link {
  font-size: 12px;
  font-weight: var(--medium);
  line-height: 16px;
  color: var(--text-main);
  text-decoration: none;
  cursor: pointer;
  transition: opacity .2s ease-out;
}

.navigation__auth-link_type_signin {
  padding: 8px 20px;
  border-radius: 3px;
  color: var(--text-light);
  background-color: var(--btn-main);
}

@media (any-hover: hover) {
  .navigation__link:hover,
  .navigation__profile:hover,
  .navigation__auth-link:hover {
    opacity: .7;
  }
}

@media screen and (max-width: 1200px) {
  .navigation_unauthorized {
    display: flex;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .navigation__menu,
  .navigation__profile {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .navigation_unauthorized {
    gap: 14px;
  }

  .navigation__auth-link {
    font-size: 10px;
  }

  .navigation__auth-link_type_signin {
    padding: 5px 12px;
  }
}
