.footer {
  padding-top: 79px;
  padding-bottom: 20px;
}

.footer__text {
  margin: 0;
  font-size: 13px;
  line-height: normal;
  font-weight: var(--regular);
}

.footer__text_type_title {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--separator-light);
  text-align: center;
  color: var(--text-label);
}

.footer__container {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.footer__list {
  gap: 20px;
}

@media screen and (max-width: 600px) {
  .footer__text {
    font-size: 12px;
    color: var(--text-label);
  }

  .footer__text_type_title {
    padding-bottom: 21px;
  }

  .footer__container {
    padding-top: 30px;
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
  }

  .footer__list {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
}
